@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
.admin_container {
    display: flex;
    flex-direction: column;
}

.traffic_container {
    flex: 1;
    margin: 50px auto 0 auto;
}

.form_container {
    flex: 1;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.present_game_list {
    flex: 1;
    display: flex;
    margin: 50px auto 0 auto;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}