/* 테스트를 위해서 만들어놓은 div 박스의 css */
.container {
    padding: 5%;
    margin: 1%;
    text-align: center;
}

body {
    margin: 0;
}

/* content image를 담고있는 컨테이너 div */
#content_image_container {
    display: flex;
}
#stage_answer{
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    left: 0;
    right: 0;
    bottom: 0;
}
/* content image */
#content_image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#explain{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.submit_button {
    display: block;
    margin: 10px auto;
    border-style: none;
    background-color: black;
    color: white;
    width: 80px;
    height: 40px;
}

.submit_input {
    margin: 10px auto;
    width: 80%;
    height: 40px;
} 

img{
    width : 70%;
    height : 50%;
}