/* 테스트를 위해서 만들어놓은 div 박스의 css */
.container {
    text-align: center;
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
}

#But {
    text-align: right;
}

#But > button {
    font-size: 1vw;
}

.ButContainer{
    display: flex;
    flex-direction: column;
}

#stage_answer > strong {
    margin-left: 4%;
    margin-right: 4%;
    font-size: 3.5vw;
}

#stage_answer > button {
    width: 25%;
    font-size: 3.5vw;
    border-radius: 2vw;
}

#quiz_button {
    width: 25%;
    font-size: 3.5vw;
    border-radius: 2vw;
}

/* content image를 담고있는 컨테이너 div */
#content_image_container {
    display: flex;
}

#stage_answer{
    position: -webkit-sticky;
    position: sticky;
    background-color: rgb(202, 202, 202);
    left: 0;
    right: 0;
    bottom: 0;
    height: 50vw;
    line-height: 4vw;
}
/* content image */
#content_image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#explain{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.submit_button {
    display: block;
    margin: 5px auto;
    border-style: none;
    background-color: black;
    color: white;
    width: 18vw;
    height: 8vw;
}

.submit_input {
    margin: 1vw auto;
    width: 80%;
    height: 6vw;
} 

img{
    width : 70%;
    height : 50%;
}