/* 테스트를 위해서 만들어놓은 div 박스의 css */
.container {
    border: 1px solid black;
    padding: 5%;
    margin: 1%;
}

body {
    margin: 0;
}

/* 홈페이지가 600px 아래일 때 */
@media (max-width: 650px) {
    /* header navigation container DIV */
    #header_navigation {
        display: none;
    }
}

/* content image를 담고있는 컨테이너 div */
#content_image_container {
    display: flex;
}

/* content image */
#content_image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* success image를 담고있는 컨테이너 div */
#success_container {
    border: 1px solid black;
    padding: 5%;
    margin: 1% 0%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
} 

/* success image */
#success_image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.sns_image{
    width: 10%;
    margin:0px 10px;
    display: inline-block;
}
#mission_container{
    border: 1px solid black;
    padding: 5%;
    margin: 1% 0%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#button_container{
    border: 1px solid black;
    padding: 5%;
    margin: 1% 0%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    width:20%;
}