/* success image를 담고있는 컨테이너 div */
#success_container {
    padding: 5%;
    margin: 1% 0%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
} 

/* success image */
#success_image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.sns_image{
    width: 10%;
    margin:0px 10px;
    display: inline-block;
}
#mission_container{
    padding: 5%;
    margin: 1% 0%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#button_container{
    padding: 5%;
    margin: 1% 0%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    width:20%;
}

#bottom{
    position: absolute;

    bottom : 0;
}

#content_quiz2{
    margin-top: 10%;
    font-size: 5.5vw;
}

#explain{
    position: relative;
    margin: auto; 
}

.hint_container {
    display: flex;
    height: 70vh;
}

#hintAnswer{
    color: blue;
}

#QuizExplain{
    font-size: 4vw;
}

.hint_container > button {
    position: fixed;
    bottom: 0;
    right: 0;
    transform:translate(-10px, -10px);
}