@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);

.content_tour{
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
}

.word_div{
    flex: 1;
    text-align: center;
}

.word_div > a {
    padding: 1.5vw;
    text-decoration: solid;
    font-size: 2.8vw;
    background-color: #FF788C;
    color: white;
    border-radius: 5vw;
}

.image_div {
    flex : 1.2;
}

.image_div > img {
    width: 100%;
    height: 100%;
}

.link{
    vertical-align: bottom;
}

.header_title {
    font-size: 5vw;
}

.header_address {
    font-size: 3vw;
}