#content_tour_image_line1,
#content_tour_image_line2,
#content_tour_image_line3 {
    display: flex;
}

/* 관광지 소개 사진 4장 */
.content_tour_picture {
    /* border: 1px solid black; */
    flex: 1;
    margin: 10px;
}

/* 관광지 소개 설명 글 */
/* #content_tour_intro {

} */


/* 모바일 */
#picture1,
#picture2,
#picture3,
#picture4 {
    width: 100%;
    height: 200px;
}

/* 데스크탑 */
@media screen and (min-width: 769px) {
    #picture1,
    #picture2,
    #picture3,
    #picture4 {
        width: 100%;
        height: 500px;
    }
 }
 
 
#picture5 {
    width: 100%;
    margin-bottom: 20px;
}